body {
  font-family: 'ABeeZee', sans-serif;
  text-shadow:
    0 3px 0 #111
    ,0 4px 0 #666;
}

h1 {
  font-family: 'Arbutus Slab', serif;
  letter-spacing:-10px;
}

h2 {
  font-family: 'Arbutus Slab', serif;
  text-shadow:
    0 6px 0 #111
    ,0 7px 0 #666 !important;
}

.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.motto {
  position: absolute;
  top: 126px;
  left: 130px;
}
.kreator-class-4 {
  position: absolute;
  top: 447px;
  left: 220px;
}
.kreator-class-5 {
  position: absolute;
  top: 188px;
  left: 295px;
}
.slides .yeoman {
  position:absolute;
  top:-150px;
  left:-200px;
  background:transparent;
  border:0;
  box-shadow:none;
  z-index:-100;
}

img.libraries {
  max-width:200px;
  max-height:200px;
  float:left;
  background:none !important;
  border:none !important;
  margin:.1em !important;
}

.splash {
  transform:rotate(45deg);
  -webkit-transform:rotate(-25deg);
  position:absolute;
  top:250px;
  left:150px;
}

.edit {
  background: #f05;
  padding: 0.3em;
  border: 5px dotted #fff;
}

.splash-cat {
  position:absolute;
  top:20px;
  right:250px;
  z-index:-1;
  -webkit-transform:rotate(25deg);
}

.green {
  color:springgreen;
}